/* Native Elements */
body {
	font-family: Helvetica, sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Reusable */
.cliquable:hover {
	transform: scale(1.05);
}

.cliquable:active {
	transform: scale(0.95);
}

/* Classes */
.playerCard {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	padding: 0.75em;
	border-radius: 0.75em;
	box-shadow: 5px 5px 15px 0px #000000;
}

.playerName {
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	padding: 0.5em;
}

.playerScore {
	text-align: center;
	vertical-align: middle;
	font-size: 1.5em;
	padding: 0.5em;
}

.removePlayer {
	position: absolute;
	background-color: salmon;
	right: -0.75em;
	bottom: -0.75em;
	border: none;
	height: 1.5em;
	width: 1.5em;
	border-radius: 50%;
	font-weight: bold;
	font-size: 1em;
	margin-top: 0.5em;
	box-shadow: 1px 1px 5px -1px #000000;
}

.scoreChange {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	gap: 0.5em;
}

.scoreChange > button {
	background-color: #FFFFFF;
	border: none;
	padding: 0.5em;
	border-radius: 0.5em;
	box-shadow: 1px 1px 5px -1px #000000;
}

.scoreContainer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 2fr 1fr;
}

/* IDs */
#playerZone {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1.5em;
}