body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	cursor: none !important;

	/* cancel user selection on every browser */
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-drag: none;
	-webkit-user-drag: none;
}

a {
	cursor: none !important;
}

.game {
	border-radius: 10% 10% 10% 10% / 25% 25% 25% 25%;
	height: 200px;
	background-color: #2C2C2C;
	border: 3px solid cornflowerblue;
	overflow: hidden;
	transition: ease-in-out 0.2s;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-drag: none;
	-webkit-user-drag: none;
}

.hover-light:hover {
	transform: scale(1.025);
	box-shadow: 0px 0px 50px 25px rgba(173,216,230,0.77);
	-webkit-box-shadow: 0px 0px 50px 25px rgba(173,216,230,0.77);
	-moz-box-shadow: 0px 0px 50px 25px rgba(173,216,230,0.77);
}

.game-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	color: #FFFFFF00;
	transition: ease-in-out 0.3s;
	width: 100%;
	height: 100%;
	display: block;

	/* Background to dispay when ther is no image */
	background-color: #e5e5f7;
	background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #b7b7b755, #b7b7b7 );

	/* cancel user selection on every browser */
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-drag: none;
	-webkit-user-drag: none;
}

.game-image:active {
	cursor: grabbing;
}

.game:hover > .game-image {
	color: white;
}

main {
	height: 100vh;
	width: 100vw;
}

section {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	height: 80%;
	width: 80%;
	gap: 15px;
	padding: 1% 10%;
}

footer {
	background-color: lightgrey;
	width: 100%;
	height: 15%;
	position: fixed;
	bottom: 0;
	border: 2px solid cornflowerblue;
}

.menu-title {
	background-color: white;
	width: 50%;
	padding: 10px;
	border-radius: 0px 0px 50px 50px;
	text-align: center;
	color: cornflowerblue;
	font-weight: bold;
	font-size: 30px;
	border: 2px solid cornflowerblue;
	position: relative;
	border-top: none;
	top: -2px;
}

.menu-container {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}

.menu-button {
	position: relative;
	bottom: -50px;
	border-radius: 50%;
	aspect-ratio: 1;
	height: 60px;
	border: 1px solid cornflowerblue;
	color: cornflowerblue;
	font-weight: bold;
	font-size: 25px;
	width: auto;
}

.navigation-buttons {
	position: fixed;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	vertical-align: center;
	border: 1px solid cornflowerblue;
	font-weight: bold;
	background-color: white;
	color: cornflowerblue;
	top: 38.5%;
	font-size: 1.5rem;
}

.navigation-buttons:first-child	{
	left: 50px;
}

.navigation-buttons:last-child{
	right: 50px;
}

.cliquable-button {
	transition: ease-in-out 0.2s;
}

.cliquable-button:hover {
	transform: scale(1.1);
}

.cliquable-button:active {
	transform: scale(0.9);
}

.moving-image {
	opacity: 0.5;
	position: fixed;
	border-radius: 25px;
	height: 200px;
	aspect-ratio: 3 / 2;
	object-fit: cover;

		/* cancel user selection on every browser */
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-drag: none;
	-webkit-user-drag: none;
}

.empty-moving-image {
	background-color: #e5e5f7;
	background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #b7b7b755, #b7b7b7 );
}

.cursor-image {
	position: fixed;
	height: 4rem;
	z-index: 20;
}
