body {
	background-color: #1D1D1D;
	color: #FFFFFF;
	font-family: 'Helvetica', sans-serif;
	padding: 0;
	margin: 0;
}

main {
	padding: 0;
	margin: 0;
	width: 99vw;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	margin: 0;
	width: 100%;
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	background-color: #FFFFFF11;
}

footer > * {
	margin: 0.5rem;
}

#game {
	display: grid;
	width: calc(min(60vh, 33vw));
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	transform: rotate(45deg);
	gap: 1em;
}

#game > button {
	aspect-ratio: 1 / 1;
}

#game > button > span {
	display: inline-block;
	transform: rotate(-45deg);
	font-size: 5vh;
}

#top {
	background-color: red;
}

#left {
	background-color: lime;
}

#right {
	background-color: blue;
}

#bottom {
	background-color: yellow;
}

.game-button {
	opacity: 0.7;
	border-radius: 5%;
	border: none;
	box-shadow: inset -10px -10px 0px 0px rgba(0,0,0,0.3);
}

.player-turn .game-button:active ,
.game-started .game-button.active {
	opacity: 1;
	box-shadow: none;
}

#start {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
	font-size: 15px !important;
	border-radius: 50%;
	padding: 1.5rem;
	font-weight: bold;
	border: none;
	box-shadow: 0px 0px 50px 25px rgba(0,0,0,0.75);
}

#infos {
	display: flex;
	justify-content: flex-end;
	gap: 0.2rem;
}

#infos > * {
	padding: 0.2rem 0.5rem;
	background-color: #FFFFFF11;
}