body {
	margin: 0;
	overflow: hidden;
}

header {
	background-color: lightgrey;
	height: 100px;
	display: flex;
}

.flex {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
}

.flex-col {
	flex-direction: column;
}

.brush-size-container {
	margin: 10px;
}