body {
	margin: 0;
	overflow: hidden;
	font-family: sans-serif;
}

header {
	background-color: #1D1D1D;
	color: #FFF;
	height: 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

h1 {
	margin: 0 50px 0 0;
	font-style: italic;
}

.flex {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
}

.flex-col {
	flex-direction: column;
}

.brush-size-container {
	margin: 10px;
}

.logo-container {
	margin: 10px;
	height: 50px;
	aspect-ratio: 1;
	padding: 15px;
	border-radius: 50%;
}

.logo-container > img {
	width: 100%;
	height: 100%;
}

.param-container {
	margin: 0 25px;
}

.param-container > label {
	font-weight: bold;
}

.color-input-container {
	border: 2px solid #FFF;
	padding: 0;
	margin: 0;
	width: 35px;
	height: 35px;	
	overflow: hidden;
	border-radius: 50%;
}

input[type="color"] {
	width: 200%;
	height: 200%;
	background: none;
	appearance: none;
	transform: scale(1.5);
}

.clean-container {
	position: absolute;
	right: 0;
	margin: 10px;
	height: 50px;
	aspect-ratio: 1;
	padding: 15px;
	border-radius: 50%;
}

.clean-container  > img {
	width: 100%;
	height: 100%;
}

.clean-container > img:hover {
	animation: jiggle 0.2s infinite;
}

.cliquable:hover {
	transform: scale(1.05);
}

.cliquable:active {
	transform: scale(0.9);
}

@keyframes jiggle {
	0%, 10%, 100% {
		transform: rotate(0deg);
	}
	5% {
		transform: rotate(-10deg);
	}
}

#color-history {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	height: 30px;
	width: 200px;
}

.color-history-part {
	height: 100%;
	width: 100%;
	overflow: hidden;
	border: 1px solid white;
	cursor: pointer;
}