@font-face {
	font-family: Goldroom;
	src: url(../assets/fonts/goldroom/Goldroom.otf);
}

@font-face {
	font-family: Leelawadee;
	src: url(../assets/fonts/leelawadee/leelawad.ttf);
}

body {
	font-family: Leelawadee, sans-serif;
}

header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

header > a {
	text-decoration: none;
	color: #FFFFFF;
	background-color: slateblue;
	font-size: 1.5rem;
	text-align: center;
	vertical-align: middle;
	padding: 0 0.5rem;
	border-radius: 1rem;
}

h1 {
	display: flex;
	flex-wrap: wrap;
	gap:0.25rem;
}

header > h1 span {
	font-family: Goldroom, serif;
}

main.pregame > #pregame {
	display: flex;
}

main.ingame > #game,
main.postgame > #postgame {
	display: block;
}

main.pregame > #game,
main.pregame > #postgame,
main.ingame > #pregame,
main.ingame > #postgame,
main.postgame > #pregame, 
main.postgame > #game {
	display: none;
}

#player-entries {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.5rem;
	width: 100vw;
	padding: 0.25rem;
}

#player-entries input {
	display: inline-block;
	font-size: 2rem;
	width: 50%;
	border-radius: 1rem;
	padding: 0.5rem;
	font-family: Leelawadee, sans-serif;
}

#pregame {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.btn {
	font-size: 2rem;
	width: 50%;
	color: #FFF;
	background-color: #80064A;
	border: none;
	padding: 0.5rem;
	border-radius: 1rem;
	font-family: Leelawadee, sans-serif;
}

.hidden {
	display:none;
}

.clickable {
	transition: 0.2s ease-in-out;
}

.clickable:hover {
	transform: scale(1.05);
}

.clickable:active {
	transform: scale(0.95);
}

#game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

#secret {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

#view-btn {
	background-color: #000000;
	color: #FFFFFF;
}

#event {
	font-size: 2rem;
	width: 50%;
	color: #000;
	background-color: #FFF;
	border: none;
	padding: 0.5rem;
	border-radius: 1rem;
	font-family: Leelawadee, sans-serif;
	outline: 2px solid #000000;
	text-align: center;

	/* font-size: 2rem;
	width: 50%;
	
	padding: 0.5rem;
	border-radius: 1rem;
	font-family: Leelawadee, sans-serif;
	
	margin: 1rem; */
}