#clock {
	transform-origin: center;
	transform: rotate(-90deg);
}

#digital {
	display: flex;
	font-weight: bold;
}

#clock-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}