* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, sans-serif;
}

html {
	background-color: #1D1D1D;
}

.flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}