* {
	/* DEBUG */
	padding: 5px;
	border: 1px solid red;
	background-color: #FFFFFF10;
}

body {
	background-color: #0E2E17;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
}

header {
	background-color: #00000022;
	height: 10vh;
	display: flex;
}

h1 {
	margin: 20px;
}

nav {
	width: 20vh;
	right: 0;
	top: 0;
}

.cliquable:hover {
	transform: scale(1.05);
}

.cliquable:active {
	transform: scale(0.95);
}

.nav_header {
	height: 10vh;
	background-color: red;
}

.red {
	color: red;
}

.black {
	color: black;
}

.card {
	background-color: #FFFFFF;
	font-weight: bold;
}