* {
	/* DEBUG */
	padding: 5px;
	border: 1px solid red;
	background-color: #FFFFFF10;
}

body {
	background-color: #0E2E17;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
}

header {
	background-color: #00000022;
	height: 10vh;
	display: flex;
}

h1 {
	margin: 20px;
}

nav {
	width: 20vh;
	right: 0;
	top: 0;
}

.cliquable:hover {
	transform: scale(1.05);
}

.cliquable:active {
	transform: scale(0.95);
}

.nav-header {
	height: 10vh;
	background-color: red;
}

.card {
	background-color: #FFFFFF;
	font-weight: bold;
	border: 3px solid #FFFFFF;
	margin: 2px;
	border-radius: 3px;
	height: 66px;
	width: 33px;
}

.card.red {
	color: red;
}

.card.black {
	color: black;
}

.card-back {
	background-color: slateblue;
}

.card-back > .card-value {
	display: none;
}

.card-back > .card-suit {
	display: none;
}

.card-slot {
	padding: 5px;
	min-width: 33px;
	min-height: 66px;
	margin: 2px;
}

.hover-grow:hover {
	transform: scale(1.05);
}

#pile {
	position: relative;
	float: left;
}

#pile > .card {
	position: absolute;
}